@import '~bootstrap/scss/bootstrap';
@import '@fontsource/galada';
@import '@fontsource/spectral-sc';


body{
    font-family: 'Spectral SC';
}

header{
    height: 75px;

    // .logo{

    // }

    .navbar-collapse{

      ul{

        li{

          a{
            color: white;
          }
        }
      }
    }
  }

  aside{
    height: 100%;
    width: 220px;

    nav{

      ul{

        list-style: none;

        li{
          &:hover{
            transition: all .7s ease;
            transform: scale(1.2);
          }

          a{
            color: white;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .main-wrapper{
    height: calc(100vh - 75px);
  }

  .table, .form-range, .form-check-input{
    cursor: pointer;
  }

  .ck-editor__editable_inline {
    min-height: 200px;
  }

  .icon-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .icon-button input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
