@import '~bootstrap/scss/bootstrap';
@import '@fontsource/galada';
@import '@fontsource/spectral-sc';

// xs: 0,
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,
// xxl: 1400px


body{
    font-family: 'Spectral SC';
}

header{
    height: 75px;

    // .logo{

    // }

    .navbar-collapse{

      ul{

        li{

          a{
            color: white;
          }
        }
      }
    }
  }

  #navbarSupportedContent{
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  aside{
    height: 100%;
    width: 220px;

    nav{

      ul{
        @include media-breakpoint-down(sm) {
          padding: 0;
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        list-style: none;

        li{
          &:hover{
            transition: all .7s ease;
            transform: scale(1.2);
          }

          a{
            color: white;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .main-wrapper{
    height: calc(100vh - 75px);
  }

  .table, .form-range, .form-check-input{
    cursor: pointer;
  }

  .ck-editor__editable_inline {
    min-height: 200px;
  }

  .icon-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .icon-button input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .logo-img{
    width: 200px;
  }


  .no-wrap{
    flex-wrap: nowrap;
  }

  .nw100{
    width: 100%;
  }

  .m0{
    margin: 0;
  }

  .dis-span{
    margin-left: 5px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .dis-link{
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  .nd-right-bar{
    right: 34px;
    position: absolute;
    display: flex;
    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  .ndm-18{
    @include media-breakpoint-down(md) {
      margin-right: 18px;
    }
  }

  #dropdown{
    bottom: 0px;
    height: 111px;
    position: absolute;
  }

  #pr{
    position: relative;
  }



