@import '~bootstrap/scss/bootstrap';
@import '@fontsource/galada';
@import '@fontsource/open-sans';

// Partials
@import './partialsGuest/general';
@import './partialsGuest/mixin';
@import './partialsGuest/typography';
@import './partialsGuest/vars';
@import './partialsGuest/utilities';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open-sans';
}

h1, h2, h3, h4, h5, h6, button, .btn, .typology, .card__title{
    font-family: 'Galada';
}

